.NavCont {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 5px 2rem;
  overflow: hidden;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 50px;
  background-color: rgb(21, 21, 21);
}
.NavTitle {
  font-size: 2rem;
  margin-right: 2rem;
}

.NavImage {
  filter: invert(38%) sepia(81%) saturate(3827%) hue-rotate(267deg)
    brightness(88%) contrast(87%);
  width: 39px;
  position: absolute;
  right: 7rem;
  margin-top: 6px;

  aspect-ratio: 1/1;
}
.Section {
  display: flex;
  align-items: end;
  height: 39px;
  gap:2rem;
  padding-left: 2rem;
  margin-top: 5px;
  border-left: 1px solid white;
}
.ModalTitle {
  cursor: pointer;
  padding-top: 8px;
  font-size: 1.5rem;
}
